    <!-- About Section -->
    <section id="about" class="container content-section text-left">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Code Name Elisabeth</h2>
                <p>Code Name Elisabeth is a Marit Larsen fan-site based in China. A Marit Larsen fansite aims to provide news updates and fans interaction.</p>
                <p>The site name "Code Name Elisabeth" origins from a short interview <a href="https://www.youtube.com/watch?v=iebwMkCg9xM
">video</a> with Marit Larsen, in which Marit is asked to pick a name that she prefers from her given name Marit and her middle name Elisabeth. Marit picks her middle name for it is her secret name.</p>
<p>With the idea explained, the prefix "Code Name" is designed to create an atomsphere of mystery, profession and project-related context.</p>
                <p>The site now has three sub sites, namely <a href="http://news.maritlarsen.ml/">Marit Larsen News</a>(in Chinese), <a href="http://bbs.maritlarsen.ml/">Marit Larsen Forum</a>(in Chinese) and <a href="http://lyrics.maritlarsen.ml/">Marit Larsen Lyrics</a>(in English).</p>
                <p>By the way, the site description "The Least Popular Marit Larsen Fan-site Based in China" is half a joke.</p>
            </div>
        </div>
    </section>